<% book.post_comments.each do |post_comment| %>
  <div class="comments">
    <td>
      <%=attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40" %>
      <%= post_comment.comment %>
      <% if post_comment.user == current_user %>
        <%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
      <% end %></br>
      <%= link_to post_comment.user.name, user_path(post_comment.user) %>
    </td>
  </div>
<% end %>
<div class="new-comment">
  <%= form_with(model:[book, post_comment], remote: true) do |f| %>
    <%= f.text_area :comment, row:'5', size: "90x5" %></br>
    <%= f.submit "送信" %>
  <% end %>
</div>