<main>
  <%= render 'books/list', user: @user, book: @book %>
      <div class="col-md-8 offset-md-1">
    		<h2>Book detail</h2>
    		<table class="table">
    		  <tbody>
      		    <tr>
                <td><%= attachment_image_tag @user, :profile_image, :fill, 40,40, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40" %></br>
                    <%= link_to @book_show.user.name, user_path(@user.id) %></td>
                <td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
                <td><%= @book_show.body %></td>
                <% if @book_show.favorited_by?(current_user) %>
                  <td>
                    <%= link_to book_favorites_path(@book_show), method: :delete do %>
                      ️<span class="text-danger">
                        ❤<%= @book_show.favorites.count %>
                      </span>
                    <% end %>
                  </td>
                  <% else %>
                  <td>
                    <%= link_to book_favorites_path(@book_show), method: :post do %>
                      <span class="text-primary">
                        💙<%= @book_show.favorites.count %>
                      </span>
                    <% end %>
                  </td>
                <% end %>
                <td>コメント数：<%= @book_show.post_comments.count %></td>
                <% if @book_show.user == current_user %>
                  <td><%= link_to "Edit", edit_book_path(@book_show), class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book_show), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
         <% @book_show.post_comments.each do |post_comment| %>
          <div class="comments">
            <td>
              <%=attachment_image_tag post_comment.user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40" %>
              <%= post_comment.comment %>
              <% if post_comment.user == current_user %>
                <%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, class: "btn btn-sm btn-danger" %>
              <% end %></br>
              <%= link_to @user.name, user_path(post_comment.user) %></td>
          </div>
        <% end %>
        <div class="new-comment">
          <%= form_with(model:[@book_show, @post_comment], local: true) do |f| %>
            <%= f.text_area :comment, row:'5', size: "90x5" %></br>
            <%= f.submit "送信" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</main>