<main>
  <%= render 'books/list', user: @user, book: @book %>
      <div class="col-md-8 offset-md-1">
    		<h2>Book detail</h2>
    		<table class="table">
    		  <tbody>
      		    <tr>
                <td><%= attachment_image_tag @user, :profile_image, :fill, 40,40, format: 'jpeg', fallback: 'no_image.jpg', size: "40x40" %></br>
                    <%= link_to @book_show.user.name, user_path(@user.id) %></td>
                <td><%= link_to @book_show.title, book_path(@book_show.id) %></td>
                <td><%= @book_show.body %></td>
                <% if @book_show.user == current_user %>
                  <td><%= link_to "Edit", edit_book_path(@book_show), class: "btn btn-sm btn-success" %></td>
                  <td><%= link_to "Destroy", book_path(@book_show), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger" %></td>
                <% end %>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>